<div class="bg-primary p-2 text-white" [class.bg-warning]="editing">
    {{editing ? "Edit":"Create"}} Product
</div>
<form novalidate #form="ngForm" (ngSubmit)="save(form)">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="name" [(ngModel)]="product.name" />
    </div>
    <div class="form-group">
        <label>Category</label>
        <textarea class="form-control" name="name" [(ngModel)]="product.category"></textarea>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control"  name="description" [(ngModel)]="product.description"></textarea>
    </div>
    <div class="form-group">
        <label>Price</label>
        <textarea class="form-control" name="Price" [(ngModel)]="product.price"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" [class.btn-warning]="editing">
        {{editing?"Save": "Create"}}
    </button>
    <button type="reset" class="btn btn-secondary" routerLink="/admin/main/products">
        Cancel</button>
</form>